*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --card-bgc: hsl(0, 0%, 100%);
    --main-bgc: hsl(212, 45%, 89%);
    --info: hsl(220, 15%, 55%);
    --title: hsl(218, 44%, 22%);
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-bgc);
}

.card{
    width: 320px;
    padding: 1rem;
    background-color: var(--card-bgc);
    border-radius: 1rem;
    text-align: center;
}

.qr-img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.info-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.title{
    color: var(--title);
}

.text{
    padding: 1rem; 
    color: var(--info);
}


